@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* tutorial */

.brick-bg {
  background:linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)),
  image-url("couple3.jpeg") center fixed;
  background-size: cover;
}

#filler {
  background:linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .5)),
    url("example.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* universal */

body {
  font-family: 'ZCOOL XiaoWei', serif;
}

.height {
  min-height: 100vh;
}

.height-80 {
  min-height: 80vh;
}

.height-10 {
  min-height: 15vh;
}

#tag-line {
  color: white;
  text-align: center;
}

/* title */

.title-underline {
  width: 200px;
  height: 2px;
  margin: 0 auto;
  background-color: #999999!important;
}

/* forms */
.center {
  text-align: center;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* nav bar */
.my-nav {
  background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),
  url('couple3.jpeg') center no-repeat;
  height: 100vh;
  background-size: cover;
}

#my-navbar {
  background: transparent !important;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.nav-link {
  color: #fff;
  font-size: 1.3em;
  font-weight: bold;
  &:hover {
    color: lightgray;
    text-decoration: none;
  }
}